<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!--load waypoints file-->
<rosparam file="$(find waypoint_gui)/waypoints/waypoint_test.yaml" command="load"/>
<!--load filepath-->
<rosparam file="$(find waypoint_gui)/param/waypoint_filepath.yaml" command="load"/>

 <!-- Run the map server -->
<node pkg="map_server" name="map_server" type="map_server" args="$(find waypoint_gui)/maps/secondofficemap.yaml" output="screen" />

<!-- run the waypoint editor-->
<node pkg="waypoint_gui" name="waypoint_editor" type="waypoint_generator_node" output="screen" />

<!--<node pkg="waypoint_gui" name="waypoint_viewer" type="waypoint_reader_node" output="screen" />-->

<!--Run Rviz -->
<node type="rviz" name="rviz" pkg="rviz" args="-d $(find waypoint_gui)/rviz/waypoint_rviz.rviz" />


</launch>
